ul > li {
    list-style: None;
}


.main-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    max-height:100px;
    background-color: #BE2528;
}

.image-container {
    padding: 0;
    margin: 0;

    & img {
        width: 100px;
        height: 100%;
    }
}


.title-container {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    margin-left: 100px;
}
